$primary-main: #4a90e2;
$primary-hover: #7cb5f9;
$primary-border: #357abd;

$add: #2ecc71;
$delete: #e74c3c;

$bg-main: #fdfaf1;
$bg-day: #ffffff;
$text: #2c3e50;
$border: #e0d7c1;


header{
    color: $text;
    text-align: center;
}