<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="100000">
    <link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}">
    <link rel="icon" type="image/png" href="{{url_for('static', filename='pictures/logo.png')}}">
    {% block head %} {% endblock %}
</head>

<body>
    {% if(session.get('user_id')) %}
    <header>
        <nav>
            <div id="nav-left">
                <a href="{{ url_for('home') }}">
                    <img src="{{ url_for('static', filename='pictures/logo.png') }}">
                </a>
            </div>
            <h1 id="site-title">Моите задачи</h1>
            <div id="nav-right">
                <a href="{{ url_for('statistics') }}" class="{% if(request.path=='/statistics') %} active {% endif %}">Статистики</a>
                <a href="{{ url_for('profile') }}" class="{% if(request.path=='/profile') %} active {% endif %}">Профил</a>
                {% if(user and user.profile_picture) %}
                <img src="{{ url_for('static', filename='profile_pictures/' + user.profile_picture) }}" alt="Профилна снимка">
                {% else %}
                <img src="{{ url_for('static', filename='pictures/avatar.png')}}" class="placeholder">
                {% endif %}
            </div>
        </nav>
    </header>
    {% endif %}
    {% block body %} {% endblock %}
</body>
</html>