{% extends "base.html" %}

{% block head %}
    <title>Вход</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login_and_register.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
{% endblock %}

{% block body %}
<main>
    <h2>Влез в профила си</h2>
    <form action="{{ url_for('login') }}" method="POST">
        <div>
            <label for="username">Потребителско име:</label>
            <input type="text" id="username" name="username" required>
        </div>

        <div>
            <label for="password">Парола:</label>
            <input type="password" id="password" name="password" required>
            <i class="fa-solid fa-eye" id="toggle_password"></i>
        </div>

        <input type="submit" value="Вход">
    </form>
    <h3 id="error_message" class="display_none"></h3>

    <p>Нямаш профил? <a href="{{ url_for('register') }}">Регистрирай се тук</a></p>
</main>

<script>
    const toggle_password = document.getElementById("toggle_password");
    const password_field = document.getElementById("password");

    toggle_password.addEventListener("click", () =>
        {const type_to_change = password_field.getAttribute("type") === "password" ? "text" : "password";
        password_field.setAttribute("type", type_to_change);
        toggle_password.classList.toggle("fa-eye-slash");});
    
    document.querySelector("form").addEventListener("submit", (e) =>
        {e.preventDefault();
        
        const error_box = document.getElementById("error_message");
        error_box.textContent = "";
        
        const username_input = document.querySelector('input[name="username"]').value;
        const password_input = document.querySelector('input[name="password"]').value;
        
        fetch("/login", 
            {method: "POST",
            headers: {"Content-Type": "application/json"},
            body: JSON.stringify(
                {username: username_input,
                password: password_input})})
        .then((response) => response.json().then((data) => ({status: response.status, body: data})))
        .then((result) =>
            {if(result.status===200)
                {window.location.href="/";}
            else
                {error_box.textContent = result.body.error;
                error_box.classList.remove("display_none");}});});
</script>
{% endblock %}