{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <title>Профил</title>
{% endblock %}

{% block body %}
<main id="profile-page">
    <div id="avatar-container">
        <input type="file" id="avatar-input" name="profile_picture" accept="image/*" style="display: none;">
        
        <label for="avatar-input">
            {% if(user.profile_picture) %}
                <img src="{{ url_for('static', filename='profile_pictures/' + user.profile_picture) }}" style="border: 0.25rem solid rgb(221, 221, 150);" alt="Профилна снимка">
            {% else %}
                <img src="{{ url_for('static', filename='pictures/camera.png')}}" class="placeholder">
            {% endif %}
            <span>Смени снимката</span>
        </label>

        {% if user.profile_picture %}
            <button id="delete-avatar-button">Премахни снимката</button>
        {% endif %}
    </div>

    <div id="info-container">
        <form action="{{ url_for('profile') }}" method="POST">
            <input type="hidden" name="action" value="update_username">
            <div>
                <label for="username">Потребителско име</label>
                <input type="text" id="username" name="username" value="{{ user.username }}" required>
            </div>
            <button type="submit">Смени</button>
        </form>
        {% if error_username %}
            <h3 style="color: #e74c3c;">
                {{ error_username }}
            </h3>
        {% elif success_username %}
            <h3 style="color: #2ecc71;">
                {{ success_username }}
            </h3>
        {% endif %}

        <form action="{{ url_for('profile') }}" method="POST">
            <input type="hidden" name="action" value="update_email">
            <div>
                <label for="email">Имейл</label>
                <input type="email" id="email" name="email" value="{{ user.email }}" required>
            </div>
            <button type="submit">Смени</button>
        </form>
        {% if error_email %}
            <h3 style="color: #e74c3c;">
                {{ error_email }}
            </h3>
        {% elif success_email %}
            <h3 style="color: #2ecc71;">
                {{ success_email }}
            </h3>
        {% endif %}
    </div>

    <div id="security-container">
        <h3>Смяна на парола</h3>
        <form action="{{ url_for('profile') }}" method="POST">
            <input type="hidden" name="action" value="update_password">
            
            <div class="password-field-group">
                <label for="old_password">Стара парола</label>
                <input type="password" id="old_password" name="old_password" placeholder="Въведете старата парола" required minlength="10">
                <i class="fa-solid fa-eye toggle-password"></i>
            </div>

            <div class="password-field-group">
                <label for="new_password">Нова парола</label>
                <input type="password" id="new_password" name="new_password" placeholder="Въведете новата парола" required minlength="10">
                <i class="fa-solid fa-eye toggle-password"></i>
            </div>

            <div class="password-field-group">
                <label for="confirm_password">Повтори новата парола</label>
                <input type="password" id="confirm_password" name="confirm_password" placeholder="Повторете новата парола" required minlength="10">
                <i class="fa-solid fa-eye toggle-password"></i>
            </div>
            {% if error_password %}
                <h3 style="color: #e74c3c;">
                    {{ error_password }}
                </h3>
                {% elif success_password %}
                <h3 style="color: #2ecc71;">
                    {{ success_password }}
                </h3>
            {% endif %}
            <button type="submit">Смени паролата</button>
        </form>
    </div>

    <div id="danger-container">
        <button id="delete-account-button">Изтрий моя профил</button>
        <button id="logout-button">Изход от профила</button>
    </div>
</main>

<script>
    document.querySelectorAll(".toggle-password").forEach((toggle_password) =>
        {toggle_password.addEventListener("click", () =>
            {const password_field = toggle_password.parentElement.querySelector("input");
            const type_to_change = password_field.getAttribute("type") === "password" ? "text" : "password";
            password_field.setAttribute("type", type_to_change);
            toggle_password.classList.toggle("fa-eye-slash");});});
    

    const avatar_input = document.getElementById("avatar-input");
    const delete_avatar_button = document.getElementById("delete-avatar-button");

    avatar_input.addEventListener("change", () =>
        {const file = avatar_input.files[0];
        if(!file) return;

        const form_data = new FormData();
        form_data.append("profile_picture", file);

        fetch("/users/{{ user.id }}/avatar", {method: "PATCH", body: form_data})
        .then((response) => response.json().then((data) =>
            {if(response.status===200)
                {window.location.reload();}
            else
                {alert(data.error);}}));});

    if(delete_avatar_button)
        {delete_avatar_button.addEventListener("click", () =>
            {fetch("/users/{{ user.id }}/avatar",
                {method: "PATCH",
                headers: {"Content-Type": "application/json"},
                body: JSON.stringify({"profile_picture": null})})
            .then((response) => response.json().then((data) =>
                {if(response.status===200)
                    {window.location.reload();}
                else
                    {alert(data.error);}}));});}
    
    
    document.getElementById("logout-button").addEventListener("click", (e) =>
        {fetch("/logout", {method: "POST"})
        .then((response) =>
            {if(response.status===204)
                {window.location.href="/login";}});});
    
    
    document.getElementById("delete-account-button").addEventListener("click", (e) =>
        {if(confirm('Сигурни ли сте, че искате да изтриете профила си? Всички задачи в него ще бъдат изтрити завинаги!'))
            {fetch("/users/{{user.id}}", {method: "DELETE"})
            .then((response) =>
                {if(response.status===204)
                    {window.location.href="/login";}});}});
</script>
{% endblock %}