{% extends "base.html" %}

{% block head %}
    <title>Регистрация</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login_and_register.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
{% endblock %}

{% block body %}
<main>
    <h2>Създай нов профил</h2>
    <form action="/register" method="POST">
        <div>
            <label for="username">Потребителско име:</label>
            <input type="text" id="username" name="username" required>
        </div>
        
        <div>
            <label for="email">Имейл:</label>
            <input type="email" id="email" name="email" required>
        </div>

        <div>
            <label for="password">Парола:</label>
            <input type="password" id="password" name="password" required minlength="10">
            <i class="fa-solid fa-eye" id="toggle_password"></i>
        </div>

        <input type="submit" value="Регистрирай се">
    </form>
    <h3 id="error_message"></h3>

    <p>Вече имаш профил? <a href="{{ url_for('login') }}">Влез тук</a></p>
</main>

<script>
    const toggle_password = document.getElementById("toggle_password");
    const password_field = document.getElementById("password");

    toggle_password.addEventListener("click", () =>
        {const type_to_change = password_field.getAttribute("type") === "password" ? "text" : "password";
        password_field.setAttribute("type", type_to_change);
        toggle_password.classList.toggle("fa-eye-slash");});

    document.querySelector("form").addEventListener("submit", (e) =>
        {e.preventDefault();
        
        const error_box = document.getElementById("error_message");
        error_box.textContent = "";
        
        const username_input = document.querySelector('input[name="username"]').value;
        const email_input = document.querySelector('input[name="email"]').value;
        const password_input = document.querySelector('input[name="password"]').value;
        
        fetch("/register", 
            {method: "POST",
            headers: {"Content-Type": "application/json"},
            body: JSON.stringify(
                {username: username_input,
                email: email_input,
                password: password_input})})
        .then((response) => response.json().then((data) => ({status: response.status, body: data})))
        .then((res) =>
            {if(res.status===201)
                {window.location.href="/login";}
            else
                {error_box.textContent = res.body.error;}});});
</script>
{% endblock %}